<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="Crashes" fileName="crashes.log"	filePattern="crashes-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="1 KB" />
			</Policies>
			<DefaultRolloverStrategy max="4" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="Console" />
			<AppenderRef ref="Crashes" />
		</Root>
		<Logger name="com.sirolf2009" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="" level="error" additivity="true">
			<AppenderRef ref="Crashes" />
		</Logger>
	</Loggers>
</Configuration>