.root {
	-accent: #FF4081;
	-swatch-100: #BBDEFB;
	-swatch-200: #90CAF9;
	-swatch-300: #64BEF6;
	-swatch-400: #42A5F5;
	-swatch-500: #2196F3;
}

.masterButton {
	-fx-padding: 16;
}

.accentButton {
	-fx-background-color: -accent;
}